*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}

body{
    background-color: rgb(161, 100,233);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
}

.btn:focus{
    outline: none;
    
}