*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
/* height: 100%;
width: 100%; */
overflow-x: hidden;
background-color: #333;
color: #222;
}

.container{
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    background-color: #fafafa;
   transform-origin: top left;
   transition: transform 0.5s linear;
}
.container.s-nav{
 transform: rotate(-17deg);  

}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.s-nav .circle{
transform: rotate(-70deg);
}

nav{
    position: fixed;
    bottom: 40px;
    left: 1%;
    z-index: 100;
}

nav ul{
    list-style: none;
    padding-left: 30px;
}

nav ul li{
text-transform: uppercase;
color: #fff;
margin: 40px 0;
transform: translateX(-180%);
transition: transform ;
}

nav ul li i{
    color: #fafafa;
    margin-right: 10px;
}
nav ul li + li{
    transform: translateX(-190%);
}

nav ul li + li + li {
    transform: translateX(-210%);
}
.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform:  rotate(90deg);
    transform-origin: top left;
}

.container.s-nav + nav li{
    transform: translateX(0);
    transition-delay:0.3s ;
}
.content img{
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.content small{
    color:#555;
    font-style: italic;
}

.content p{
    color: #333;
    line-height: 1.5;
}