*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: gilroy;
}
html,body{
height: 100%;
width: 100%;
}

body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    border-radius: 10px;
    height: 300px;
    width: 250px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

#container i{
    color:#fff;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;

}